<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Khobor - Modern Magazine & Newspaper HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    
    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- ycp -->
    <link rel="stylesheet" href="css/ycp.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Modernizer JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header Top Start -->
    <div class="header-top section">
        <div class="container">
            <div class="row">
               
                <!-- Header Top Links Start -->
                <div class="header-top-links col-md-9 col-6">
                    
                    <!-- Header Links -->
                    <ul class="header-links">
                        <li class="disabled block d-none d-md-block"><a href="#"><i class="fa fa-clock-o"></i> Sunday, March 25, 2019</a></li>
                        <li class="d-none d-md-block"><a href="#"><i class="fa fa-mixcloud"></i> <span class="weather-degrees">20 <span class="unit">c</span> </span> <span class="weather-location">- Sydney</span></a></li>
                        <li><a href="#"><i class="fa fa-user-circle-o"></i>Sign Up</a></li>
                        <li><a href="contact-us.html"><i class="fa fa-headphones"></i>Contact</a></li>
                        <li><a href="blog.html">Blog</a></li>
                    </ul>
                    
                </div><!-- Header Top Links End -->
                
                <!-- Header Top Social Start -->
                <div class="header-top-social col-md-3 col-6">
                    
                    <!-- Header Social -->
                    <div class="header-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-vimeo"></i></a>
                    </div>
                    
                </div><!-- Header Top Social End -->
                
            </div>
        </div>
    </div><!-- Header Top End -->
    
    <!-- Header Start -->
    <div class="header-section section">
        <div class="container">
            <div class="row align-items-center">
               
                <!-- Header Logo -->
                <div class="header-logo col-md-4 d-none d-md-block">
                    <a href="index.html" class="logo"><img src="img/logo.png" alt="Logo"></a>
                </div>
                
                <!-- Header Banner -->
                <div class="header-banner col-md-8 col-12">
                    <div class="banner"><a href="#"><img src="img/banner/header-banner-1.png" alt="Header Banner"></a></div>
                </div>
                
            </div>
        </div>
    </div><!-- Header End -->
    
    <!-- Menu Section Start -->
    <div class="menu-section section bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="menu-section-wrap">

                        <!-- Main Menu Start -->
                        <div class="main-menu float-left d-none d-md-block">
                            <nav>
                                <ul>

                                    <li class="has-dropdown"><a href="index.html">Home</a>
                                        
                                        <!-- Submenu Start -->
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index-2.html">Home Two</a></li>
                                            <li><a href="index-3.html">Home Three</a></li>
                                            <li><a href="index-4.html">Home Four</a></li>
                                        </ul><!-- Submenu End -->
                                        
                                    </li>
                                    <li><a href="category-lifestyle.html">News</a></li>
                                    <li><a href="category-sports.html">Sports</a></li>
                                    <li class="has-dropdown"><a href="category-lifestyle.html">Lifestyle</a>
                                       
                                        <!-- Mega Menu Start -->
                                        <div class="mega-menu">
                                        
                                            <!-- Menu Tab List Start -->
                                            <ul class="menu-tab-list nav">
                                                <li><a class="active" data-toggle="tab" href="#menu-tab-one">all</a></li>
                                                <li><a data-toggle="tab" href="#menu-tab-two">Beauty</a></li>
                                                <li><a data-toggle="tab" href="#menu-tab-one">travel</a></li>
                                                <li><a data-toggle="tab" href="#menu-tab-two">Interior Design</a></li>
                                                <li><a data-toggle="tab" href="#menu-tab-one">Photography</a></li>
                                                <li><a data-toggle="tab" href="#menu-tab-two">fashion</a></li>
                                                <li><a data-toggle="tab" href="#menu-tab-one">music</a></li>
                                            </ul><!-- Menu Tab List End -->
                                            
                                            <!-- Menu Tab Content Start -->
                                            <div class="tab-content menu-tab-content fix">
                                               
                                                <!-- Menu Tab Pane Start -->
                                                <div class="tab-pane fade show active" id="menu-tab-one">
                                                    <div class="row">

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-136.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Marilyn Monroe’s beauty secrets the most</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-137.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Hynpodia helps fmaletravelers find health.</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-138.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Upcoming Event 10 Dec at Bonobisree Area.</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-139.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Upcoming Event 10 Dec at Bonobisree Area.</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-140.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">How do you solve the long tiredness.</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-141.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Australia announced squad for Bangladesh tour</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-142.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Fance fry with chicken burger.</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-143.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Fashion is about some thing that comes . . . . </a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                    </div>
                                                </div><!-- Menu Tab Pane End -->
                                               
                                                <!-- Menu Tab Pane Start -->
                                                <div class="tab-pane fade" id="menu-tab-two">
                                                    <div class="row">

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-140.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">How do you solve the long tiredness.</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-141.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Australia announced squad for Bangladesh tour</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-142.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Fance fry with chicken burger.</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-143.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Fashion is about some thing that comes . . . . </a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-136.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Marilyn Monroe’s beauty secrets the most</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-137.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Hynpodia helps fmaletravelers find health.</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-138.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Upcoming Event 10 Dec at Bonobisree Area.</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                        <!-- Post Start -->
                                                        <div class="post post-small col-lg-3 col-md-4 mb-30">
                                                            <div class="post-wrap">
                                                                <a href="post-details.html" class="image"><img src="img/post/post-139.jpg" alt="Post"></a>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="post-details.html">Upcoming Event 10 Dec at Bonobisree Area.</a></h5>
                                                                </div>
                                                            </div>
                                                        </div><!-- Post End -->

                                                    </div>
                                                </div><!-- Menu Tab Pane End -->
                                                
                                            </div><!-- Menu Tab Content End -->
                                       
                                        </div><!-- Mega Menu End -->
                                        
                                    </li>
                                    <li><a href="category-fashion.html">Fashion</a></li>
                                    <li><a href="category-politic.html">politic</a></li>
                                    <li class="active has-dropdown"><a href="#">pages</a>
                                        
                                        <!-- Submenu Start -->
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">blog</a></li>
                                            <li><a href="blog-details.html">blog details</a></li>
                                            <li><a href="contact-us.html">contact</a></li>
                                            <li><a href="post-details.html">post details</a></li>
                                        </ul><!-- Submenu End -->
                                        
                                    </li>

                                </ul>
                            </nav>
                        </div><!-- Main Menu Start -->

                        <div class="mobile-logo d-none d-block d-md-none"><a href="index.html"><img src="img/logo-white.png" alt="Logo"></a></div>

                        <!-- Header Search -->
                        <div class="header-search float-right">

                            <!-- Search Toggle -->
                            <button class="header-search-toggle"><i class="fa fa-search"></i></button>

                            <!-- Header Search Form -->
                            <div class="header-search-form">
                                <form action="#">
                                    <input type="text" placeholder="Search Here">
                                </form>
                            </div>

                        </div>
                        
                        <!-- Mobile Menu Wrap -->
                        <div class="mobile-menu-wrap d-none">
                            <nav>
                                <ul>

                                    <li><a href="index.html">Home</a>
                                        
                                        <!-- Submenu Start -->
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index-2.html">Home Two</a></li>
                                            <li><a href="index-3.html">Home Three</a></li>
                                            <li><a href="index-4.html">Home Four</a></li>
                                        </ul><!-- Submenu End -->
                                        
                                    </li>
                                    <li><a href="category-lifestyle.html">News</a></li>
                                    <li><a href="category-sports.html">Sports</a></li>
                                    <li><a href="category-lifestyle.html">Lifestyle</a>
                                           
                                        <!-- Submenu Start -->
                                        <ul class="sub-menu">
                                            <li><a href="category-fashion.html">Beauty</a></li>
                                            <li><a href="category-lifestyle.html">travel</a></li>
                                            <li><a href="category-sports.html">Interior Design</a></li>
                                            <li><a href="category-lifestyle.html">Photography</a></li>
                                            <li><a href="category-fashion.html">fashion</a></li>
                                            <li><a href="category-sports.html">music</a></li>
                                        </ul><!-- Submenu End -->
                                        
                                    </li>
                                    <li><a href="category-fashion.html">Fashion</a></li>
                                    <li><a href="category-politic.html">politic</a></li>
                                    <li class="active"><a href="#">pages</a>
                                        
                                        <!-- Submenu Start -->
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">blog</a></li>
                                            <li><a href="blog-details.html">blog details</a></li>
                                            <li><a href="contact-us.html">contact</a></li>
                                            <li><a href="post-details.html">post details</a></li>
                                        </ul><!-- Submenu End -->
                                        
                                    </li>

                                </ul>
                            </nav>
                        </div>
                        
                        <!-- Mobile Menu -->
                        <div class="mobile-menu"></div>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- Menu Section End -->
    
    <!-- Breaking News Section Start -->
    <div class="breaking-news-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   
                    <!-- Breaking News Wrapper Start -->
                    <div class="breaking-news-wrapper">

                        <!-- Breaking News Title -->
                        <h5 class="breaking-news-title float-left">Breaking News</h5>

                        <!-- Breaking Newsticker Start -->
                        <ul class="breaking-news-ticker float-left">
                            <li><a href="#">Tell me what you today, And i ‘ll tell you who you are!!!</a></li>
                            <li><a href="#">Fashion is about some thing that comes from with in you.</a></li>
                            <li><a href="#">Australia announced squad for Bangladesh tour.</a></li>
                            <li><a href="#">How group of rebel are talking on Banasree epidemic.</a></li>
                        </ul><!-- Breaking Newsticker Start -->

                        <!-- Breaking News Nav -->
                        <div class="breaking-news-nav">
                            <button class="news-ticker-prev"><i class="fa fa-angle-left"></i></button>
                            <button class="news-ticker-next"><i class="fa fa-angle-right"></i></button>
                        </div>
                        
                    </div><!-- Breaking News Wrapper End -->
                    
                </div>
            </div>
        </div>
    </div><!-- Breaking News Section End -->
    
    <!-- Page Banner Section Start -->
    <div class="page-banner-section section mt-30 mb-30">
        <div class="container">
            <div class="row row-1">
               
                <!-- Page Banner Start -->
                <div class="col-12">
                    <div class="page-banner" style="background-image: url(img/bg/page-banner-fashion.jpg)">
                        <h2>Contact us</h2>
                        <ol class="page-breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Contact us</li>
                        </ol>
                    </div>
                </div><!-- Page Banner End -->
                
            </div>
        </div>
    </div><!-- Page Banner Section End -->
    
    <!-- Post Section Start -->
    <div class="post-section section">
        <div class="container">
            
            <!-- Feature Post Row Start -->
            <div class="row">
                
                <div class="col-lg-8 col-12 mb-50">
                    
                    <!-- Post Block Wrapper Start -->
                    <div class="post-block-wrapper">
                        
                        <!-- Post Block Head Start -->
                        <div class="head">
                            
                            <!-- Title -->
                            <h4 class="title">Contact Information.</h4>
                            
                        </div><!-- Post Block Head End -->
                        
                        <!-- Post Block Body Start -->
                        <div class="body">
                            
                            <div class="contact-info row">
                                
                                <div class="single-contact text-center col-md-4">
                                    <i class="fa fa-home"></i>
                                    <p>House No 08, Ro ad No 08 Din Bari, Dhaka, Bangladesh</p>
                                </div>
                                
                                <div class="single-contact text-center col-md-4">
                                    <i class="fa fa-envelope-open"></i>
                                    <p>Username@gmail.com <br>Damo@gmail.com</p>
                                </div>
                                
                                <div class="single-contact text-center col-md-4">
                                    <i class="fa fa-headphones"></i>
                                    <p>(+660 256 24857) <br>(+660 256 24857)</p>
                                </div>
                                
                            </div>
                            
                        </div><!-- Post Block Body End -->
                        
                        <!-- Post Block Head Start -->
                        <div class="head">
                            
                            <!-- Title -->
                            <h4 class="title">Send us a Message.</h4>
                            
                        </div><!-- Post Block Head End -->
                        
                        <!-- Post Block Body Start -->
                        <div class="body">
                            
                            <form id="contact-form" action="mail.php" method="post">
                                <div class="contact-form row">

                                    <div class="col-md-6 col-12 mb-20">
                                        <label for="name">Name <sup>*</sup></label>
                                        <input type="text" id="name" name="name">
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label for="email">Email <sup>*</sup></label>
                                        <input type="text" id="email" name="email">
                                    </div>

                                    <div class="col-12 mb-20">
                                        <label for="website">Website <sup>*</sup></label>
                                        <input type="text" id="website" name="website">
                                    </div>

                                    <div class="col-12 mb-20">
                                        <label for="message">Message <sup>*</sup></label>
                                        <textarea id="message" name="message"></textarea>
                                    </div>

                                    <div class="col-12">
                                        <input type="submit" value="send message">
                                    </div>

                                </div>
                            </form>
                            <p class="form-messege"></p>
                            
                        </div><!-- Post Block Body End -->
                        
                        <!-- Post Block Head Start -->
                        <div class="head">
                            
                            <!-- Title -->
                            <h4 class="title">find us on map.</h4>
                            
                        </div><!-- Post Block Head End -->
                        
                        <!-- Post Block Body Start -->
                        <div class="body">
                            
                            <div class="contact-map-wrap">
                                <div id="contact-map"></div>
                            </div>
                            
                        </div><!-- Post Block Body End -->
                        
                    </div><!-- Post Block Wrapper End -->
                    
                </div>
                
                <!-- Sidebar Start -->
                <div class="col-lg-4 col-12 mb-50">
                    <div class="row">
                       
                        <!-- Single Sidebar -->
                        <div class="single-sidebar col-lg-12 col-md-6 col-12">

                            <!-- Sidebar Block Wrapper -->
                            <div class="sidebar-block-wrapper">

                                <!-- Sidebar Block Head Start -->
                                <div class="head feature-head">

                                    <!-- Title -->
                                    <h4 class="title">Follow Us</h4>

                                </div><!-- Sidebar Block Head End -->

                                <!-- Sidebar Block Body Start -->
                                <div class="body">

                                    <div class="sidebar-social-follow">
                                        <div>
                                            <a href="#" class="facebook">
                                                <i class="fa fa-facebook"></i>
                                                <h3>40,583</h3>
                                                <span>Fans</span>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="#" class="google-plus">
                                                <i class="fa fa-google-plus"></i>
                                                <h3>36,857</h3>
                                                <span>Followers</span>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="#" class="twitter">
                                                <i class="fa fa-twitter"></i>
                                                <h3>50,883</h3>
                                                <span>Followers</span>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="#" class="dribbble">
                                                <i class="fa fa-dribbble"></i>
                                                <h3>4,743</h3>
                                                <span>Followers</span>
                                            </a>
                                        </div>
                                    </div>

                                </div><!-- Sidebar Block Body End -->

                            </div>

                        </div>

                        <!-- Single Sidebar -->
                        <div class="single-sidebar col-lg-12 col-md-6 col-12">

                            <!-- Sidebar Banner -->
                            <a href="#" class="sidebar-banner"><img src="img/banner/sidebar-banner-1.jpg" alt="Sidebar Banner"></a>

                        </div>

                        <!-- Single Sidebar -->
                        <div class="single-sidebar col-lg-12 col-md-6 col-12">

                            <div class="sidebar-subscribe">
                                <h4>Subscribe To <br>Our <span>Update</span> News</h4>
                                <p>Adipiscing elit. Fusce sed mauris arcu. Praesent ut augue imperdiet, semper lorem id.</p>
                                <!-- Newsletter Form -->
                                <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-form validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                        <label for="mce-EMAIL" class="d-none">Subscribe to our mailing list</label>
                                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">submit</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                        
                    </div>
                </div><!-- Sidebar End -->
                
            </div><!-- Feature Post Row End -->
            
        </div>
    </div><!-- Post Section End -->
    
    <!-- Instagram Section Start -->
    <div class="instagram-section section">
        <div class="container-fluid">
            <div class="row">
                
                <!-- Full Width Instagram Carousel Start -->
                <div class="fullwidth-instagram-carousel instagram-carousel col pl-0 pr-0">
                    
                    <a href="#" class="instagram-item"><img src="img/instagram/1.jpg" alt="instagram"></a>
                    <a href="#" class="instagram-item"><img src="img/instagram/2.jpg" alt="instagram"></a>
                    <a href="#" class="instagram-item"><img src="img/instagram/3.jpg" alt="instagram"></a>
                    <a href="#" class="instagram-item"><img src="img/instagram/4.jpg" alt="instagram"></a>
                    <a href="#" class="instagram-item"><img src="img/instagram/5.jpg" alt="instagram"></a>
                    <a href="#" class="instagram-item"><img src="img/instagram/6.jpg" alt="instagram"></a>
                    
                </div><!-- Full Width Instagram Carousel End -->
                
            </div>
        </div>
    </div><!-- Instagram Section End -->
    
    <!-- Footer Top Section Start -->
    <div class="footer-top-section section bg-dark">
        <div class="container-fluid">
            <div class="row">
                
                <!-- Footer Widget Start -->
                <div class="footer-widget col-xl-3 col-md-6 col-12 mb-60">
                    
                    <!-- Title -->
                    <h4 class="widget-title">About Us</h4>
                    
                    <div class="content fix">
                        <p>Lorem ipsum dolor sit amet, consectet adipiscing Se velit ex, dictum at nunc  placerat consequatS quam. ornaremi condiment PhasellusI  cursii placerat quam et, mattis nibh Suspendislacinias.</p>
                        
                        <!-- Footer Contact -->
                        <ol class="footer-contact">
                            <li><i class="fa fa-home"></i>House No 08, Din Bari, Dhaka, Bangladesh</li>
                            <li><i class="fa fa-envelope-open"></i>Username@gmail.com</li>
                            <li><i class="fa fa-headphones"></i>(+660 256 24857) , (+660 256 24857)</li>
                        </ol>
                        
                        <!-- Footer Social -->
                        <div class="footer-social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        </div>
                        
                    </div>
                    
                </div><!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="footer-widget col-xl-3 col-md-6 col-12 mb-60">
                    
                    <!-- Title -->
                    <h4 class="widget-title">popular News</h4>
                    
                    <!-- Footer Widget Post Start -->
                    <div class="footer-widget-post">
                        <div class="post-wrap">
                            
                            <!-- Image -->
                            <a href="post-details.html" class="image"><img src="img/post/post-33.jpg" alt="Post"></a>
                            
                            <!-- Content -->
                            <div class="content">

                                <!-- Title -->
                                <h5 class="title"><a href="post-details.html">Hynpodia helps male travelers find healths.</a></h5>

                                <!-- Meta -->
                                <div class="meta fix">
                                    <span class="meta-item date"><i class="fa fa-clock-o"></i>10 March 2019</span>
                                </div>

                            </div>
                            
                        </div>
                    </div><!-- Footer Widget Post ENd -->
                    
                    <!-- Footer Widget Post Start -->
                    <div class="footer-widget-post">
                        <div class="post-wrap">
                            
                            <!-- Image -->
                            <a href="post-details.html" class="image"><img src="img/post/post-34.jpg" alt="Post"></a>
                            
                            <!-- Content -->
                            <div class="content">

                                <!-- Title -->
                                <h5 class="title"><a href="post-details.html">How do you solve the IOS page problem.</a></h5>

                                <!-- Meta -->
                                <div class="meta fix">
                                    <span class="meta-item date"><i class="fa fa-clock-o"></i>10 March 2019</span>
                                </div>

                            </div>
                            
                        </div>
                    </div><!-- Footer Widget Post End -->
                    
                    <!-- Footer Widget Post Start -->
                    <div class="footer-widget-post">
                        <div class="post-wrap">
                            
                            <!-- Image -->
                            <a href="post-details.html" class="image"><img src="img/post/post-35.jpg" alt="Post"></a>
                            
                            <!-- Content -->
                            <div class="content">

                                <!-- Title -->
                                <h5 class="title"><a href="post-details.html">Home is not a place . . . . . .  . it’s a feeling.</a></h5>

                                <!-- Meta -->
                                <div class="meta fix">
                                    <span class="meta-item date"><i class="fa fa-clock-o"></i>10 March 2019</span>
                                </div>

                            </div>
                            
                        </div>
                    </div><!-- Footer Widget Post End -->
                    
                </div><!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="footer-widget col-xl-3 col-md-6 col-12 mb-60">
                    
                    <h4 class="widget-title">Twitter Feed</h4>
                    
                    <!-- Single Tweet Start -->
                    <div class="single-tweet">
                       
                        <!-- Image -->
                        <a href="#" class="image"><img src="img/tweets/1.png" alt="Author Image"></a>
                        <!-- Content -->
                        <div class="content fix">
                            <!-- Head -->
                            <div class="head"><h5><a href="#">Hashtech</a></h5><span>5 Minute Ago</span></div>
                            <!-- Tags -->
                            <div class="tags">
                                <a href="#">#UI</a>
                                <a href="#">#UX</a>
                                <a href="#">#Lorem</a>
                            </div>
                            <!-- Links -->
                            <div class="links"><a href="#">@https://themeforest.net/item/moto-multipurpose-landing-page-template/20342375?s_rank=1</a></div>
                            <!-- Meta -->
                            <ul class="meta">
                                <li><a href="#"><i class="fa fa-heart"></i> 865</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 653</a></li>
                                <li><a href="#"><i class="fa fa-reply"></i></a></li>
                            </ul>
                        </div>
                        
                    </div><!-- Single Tweet End -->
                    
                    <!-- Single Tweet Start -->
                    <div class="single-tweet">
                       
                        <!-- Image -->
                        <a href="#" class="image"><img src="img/tweets/1.png" alt="Author Image"></a>
                        <!-- Content -->
                        <div class="content fix">
                            <!-- Head -->
                            <div class="head"><h5><a href="#">Hashtech</a></h5><span>5 Minute Ago</span></div>
                            <!-- Tags -->
                            <div class="tags">
                                <a href="#">#UI</a>
                                <a href="#">#UX</a>
                                <a href="#">#Lorem</a>
                            </div>
                            <!-- Links -->
                            <div class="links"><a href="#">@https://themeforest.net/item/moto-multipurpose-landing-page-template/20342375?s_rank=1</a></div>
                            <!-- Meta -->
                            <ul class="meta">
                                <li><a href="#"><i class="fa fa-heart"></i> 865</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 653</a></li>
                                <li><a href="#"><i class="fa fa-reply"></i></a></li>
                            </ul>
                        </div>
                        
                    </div><!-- Single Tweet End -->
                    
                </div><!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="footer-widget col-xl-3 col-md-6 col-12 mb-60">
                    
                    <!-- Title -->
                    <h4 class="widget-title">Top News</h4>
                    
                    <!-- Footer Widget Post Start -->
                    <div class="footer-widget-post">
                        <div class="post-wrap">
                            
                            <!-- Image -->
                            <a href="post-details.html" class="image"><img src="img/post/post-14.jpg" alt="Post"></a>
                            
                            <!-- Content -->
                            <div class="content">

                                <!-- Title -->
                                <h5 class="title"><a href="post-details.html">Australia announced squad for Bangladesh tour.</a></h5>

                                <!-- Meta -->
                                <div class="meta fix">
                                    <span class="meta-item date"><i class="fa fa-clock-o"></i>10 March 2019</span>
                                </div>

                            </div>
                            
                        </div>
                    </div><!-- Footer Widget Post ENd -->
                    
                    <!-- Footer Widget Post Start -->
                    <div class="footer-widget-post">
                        <div class="post-wrap">
                            
                            <!-- Image -->
                            <a href="post-details.html" class="image"><img src="img/post/post-23.jpg" alt="Post"></a>
                            
                            <!-- Content -->
                            <div class="content">

                                <!-- Title -->
                                <h5 class="title"><a href="post-details.html">Fish Fry With green vegetables.</a></h5>

                                <!-- Meta -->
                                <div class="meta fix">
                                    <span class="meta-item date"><i class="fa fa-clock-o"></i>10 March 2019</span>
                                </div>

                            </div>
                            
                        </div>
                    </div><!-- Footer Widget Post End -->
                    
                    <!-- Footer Widget Post Start -->
                    <div class="footer-widget-post">
                        <div class="post-wrap">
                            
                            <!-- Image -->
                            <a href="post-details.html" class="image"><img src="img/post/post-40.jpg" alt="Post"></a>
                            
                            <!-- Content -->
                            <div class="content">

                                <!-- Title -->
                                <h5 class="title"><a href="post-details.html">Hynpodia helps male travelers find healths.</a></h5>

                                <!-- Meta -->
                                <div class="meta fix">
                                    <span class="meta-item date"><i class="fa fa-clock-o"></i>10 March 2019</span>
                                </div>

                            </div>
                            
                        </div>
                    </div><!-- Footer Widget Post End -->
                    
                </div><!-- Footer Widget End -->
                
            </div>
        </div>
    </div><!-- Footer Top Section End -->
    
    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section section bg-dark">
        <div class="container">
            <div class="row">
                
                <!-- Copyright Start -->
                <div class="copyright text-center col">
                    <p>Copyright © 2018 All Rights Reserved.</p>
                </div><!-- Copyright End -->
                
            </div>
        </div>
    </div><!-- Footer Bottom Section End -->
    
    
</div>


<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="js/plugins.js"></script>
<!-- ycp JS -->
<script src="js/ycp.js"></script>
<!-- Ajax Mail JS -->
<script src="js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>
<!-- Google Map Api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlZPf84AAVt8_FFN7rwQY5nPgB02SlTKs"></script>
<!-- Google Map Activation -->
<script src="map/map.js"></script>

</body>

</html>