<!DOCTYPE html>
<html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.utraq.net.nz/tyymeleaf/layput"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <script th:src="@{http://cdn.ckeditor.com/4.14.0/standard/ckeditor.js}"></script>-->
    <script
            th:src="@{https://code.jquery.com/jquery-3.4.1.js}"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/js/preview-multiple-images.js"></script>
    <link rel="stylesheet" href="/css/imagepreviewanddelete.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/css/fileinput.css" media="all"
          rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"/>

</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <form method="post" action="#" th:action="@{/saveNewsCredentials}" th:object="${news}"
              enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleFormControlInput1">News Heading</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" th:field="*{newsHeading}"
                >
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">News Teaser</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder=""
                       th:field="*{newsTeaser}">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">News Category</label>
                <select class="form-control" id="exampleFormControlSelect1" th:field="*{categoriesAndSubCategories.CategoryId}">
                    <option th:each="category :${newsCategory}" th:text="${category.CategoryName}"
                            th:value="${category.CategoryId}"></option>
                </select>
            </div>

            <!--            <div class="form-group">-->
            <!--                <label class="control-label" for="files">Upload Multiple Files:</label>-->
            <!--                <input type="file" class="form-control" id="files"-->
            <!--                       name="files" multiple/>-->
            <!--            </div>-->
            <!--            <div class="gallery" width="150px" height="150px"></div>-->
            <!--            <div class="gallery" style="display:none"><img name="img1" id="img1" src="dummy.gif" width="150"/></div>-->
            <input id="file-1" type="file" name="file" multiple>


            <textarea name="cont" id="editor" rows="10" cols="80" th:field="*{newsDescription}"></textarea>
            <button type="button" id="btn_publish">Show</button>
            <button type="button" id="btn_clear">Clear All</button>
            <input type="submit" value="submit">
        </form>

    </div>

    <div class="container" style="width:900px;">
        <h2 align="center">Make Treeview using Bootstrap Treeview Ajax JQuery with PHP</h2>
        <br/><br/>
        <div id="treeview"></div>
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/subcategories",
                method: "POST",
                dataType: "json",
                success: function (data) {
                    $('#treeview').treeview({data: data});
                    console.log(data);
                }
            });

        });
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!--    [jQuery]-->
    <script src="assets/js/jquery-3.2.1.min.js"></script>

    <!--    [Popper Js] -->
    <script src="assets/js/popper.min.js"></script>

    <!--    [Bootstrap Js] -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!--    [OwlCarousel Js]-->
    <script src="assets/js/owl.carousel.min.js"></script>

    <!--    [Navbar Fixed Js] -->
    <script src="assets/js/navbar-fixed.js"></script>

    <!--    [Main Custom Js] -->
    <script src="assets/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/js/fileinput.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/themes/fa/theme.js"
            type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $("select#exampleFormControlSelect1").change(function () {
                var selectedCountry = $(this).children("option:selected").val();
                alert("You have selected the country - " + selectedCountry);
            });
        });
    </script>
    <script type="text/javascript">
        $("#file-1").fileinput({
            theme: 'fa',
            uploadUrl: "upload_ss.php",
            uploadExtraData: function () {
                return {
                    user_id: '<?php echo $uid; ?>',
                };
            },
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            overwriteInitial: false,
            maxFileSize: 2000,
            maxFilesNum: 1000,
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        });
        $(document).ready(function () {
            $(document).on('click', '#upload', function () {
                console.log('click hose');
                $('.kv-file-upload').each(function () {
                    console.log('dhukise');
                    if ($(this).is(":visible")) {
                        console.log('dhukise and click');
                        $(this).attr('disabled', false).trigger('click');
                    }
                });

            });
        });
    </script>

    <script>
        $(document).ready(function () {
            CKEDITOR.replace('editor', {
                filebrowserImageUploadUrl: '/image/upload',
            });
            CKEDITOR.on('dialogDefinition', function (e) {
                var dialogName = e.data.name;
                var dialogDefinition = e.data.definition;
                switch (dialogName) {
                    case  'image':
                        //dialogDefinition.removeContents('info');
                        dialogDefinition.removeContents('Link');
                        // dialogDefinition.removeContents('advanced');
                        break;
                }
            });
            $('#btn_publish').click(function () {
                alert(CKEDITOR.instances.editor.getData());
            });
            $('#btn_clear').click(function () {
                CKEDITOR.instances.editor.setData('');
            });
        });
    </script>
</div>


</body>

</html>