<!doctype html>
<html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.utraq.net.nz/tyymeleaf/layput"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Khobor - Modern Magazine & Newspaper HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" th:href="@{/css/plugins.css}">
    <!-- ycp -->
    <link rel="stylesheet" th:href="@{/css/ycp.css}">
    <!-- Style CSS -->
    <!--    <link rel="stylesheet" href="style.css">-->
    <!-- Modernizer JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- For Comment only   -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/comments_style.css">
    <script rel="text/javascript" src="/js/comments.js"></script>

</head>

<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<div layout:fragment="content">

    <!-- Main Wrapper -->
    <div id="main-wrapper">

        <!-- Post Section Start -->
        <div class="post-section section">
            <div class="container">

                <!-- Feature Post Row Start -->
                <div class="row">

                    <div class="col-lg-8 col-12 mb-50">

                        <!-- Post Block Wrapper Start -->
                        <div class="post-block-wrapper mb-50">

                            <!-- Post Block Body Start -->
                            <div class="body">
                                <div class="row">

                                    <div class="col-12">

                                        <!-- Single Post Start -->
                                        <div class="single-post">
                                            <div class="post-wrap">


                                                <!-- Content -->
                                                <div class="content" th:object="${singleNews}">

                                                    <!-- Description -->
                                                    <!--                                                <p class="dropcap" th:text="${singleNews.newsHeading}"></p>-->
                                                    <h1 class="" th:text="${singleNews.getNewsHeading()}"></h1>

                                                    <div th:each="image: ${newsImage}">
                                                        <img th:src="${image.getImageSource()}" width="730"
                                                             height="500"/>
                                                    </div>


                                                    <!--                                                <p><img class="float-right" src="img/post/post-153.jpg" alt="post">-->
                                                    <h3 class="h4 italic d-block"
                                                        th:text="${singleNews.getNewsTeaser()}"></h3>
                                                    <!--                                                <img src="img/post/post-132.jpg" alt="post">-->

                                                    <!--                                                <object th:text="${singleNews.newsDescription}"></object>-->

                                                    <div th:utext="${singleNews.getNewsDescription()}"></div>

                                                </div>

                                                <div class="tags-social float-left">

                                                    <div class="tags float-left">
                                                        <i class="fa fa-tags"></i>
                                                        <a href="#">Lifestyle,</a>
                                                        <a href="#">Woman,</a>
                                                        <a href="#">Cool</a>
                                                    </div>

                                                    <div class="post-social float-right">
                                                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a>
                                                        <a href="#" class="google-plus"><i
                                                                class="fa fa-google-plus"></i></a>
                                                    </div>

                                                </div>

                                            </div>
                                        </div><!-- Single Post End -->

                                    </div>

                                </div>
                            </div><!-- Post Block Body End -->
                        </div><!-- Post Block Wrapper End -->

                        <!-- Previous & Next Post Start -->
                        <div class="post-nav mb-50">
                            <a href="#" class="prev-post"><span>previous post</span>he 10 Best Beauty Looks: Week of
                                September 11, 2019.</a>
                            <a href="#" class="next-post"><span>next post</span>The top 7 collections of New York
                                fashion week.</a>
                        </div><!-- Previous & Next Post End -->

                        <!-- Post Author Start -->
                        <div class="post-author fix mb-50">

                            <div class="image float-left"><img src="img/post/post-author-1.jpg" alt="post-author"></div>

                            <div class="content fix">
                                <h5><a href="#">Alex bin do</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris efficitur is
                                    fringillas. Sed cursus mi, ut auctor tellus Curabitur susvenenatis.</p>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>

                        </div><!-- Post Author End -->

                        <!-- Post Block Wrapper Start -->
                        <div class="post-block-wrapper mb-50">

                            <!-- Post Block Head Start -->
                            <div class="head">

                                <!-- Title -->
                                <h4 class="title">You might also like!</h4>

                            </div><!-- Post Block Head End -->

                            <!-- Post Block Body Start -->
                            <div class="body">

                                <div class="two-column-post-carousel column-post-carousel post-block-carousel row">

                                    <div class="col-md-6 col-12">

                                        <!-- Overlay Post Start -->
                                        <div class="post post-overlay hero-post">
                                            <div class="post-wrap">

                                                <!-- Image -->
                                                <div class="image"><img src="img/post/post-48.jpg" alt="post"></div>

                                                <!-- Category -->
                                                <a href="#" class="category gadgets">gadgets</a>

                                                <!-- Content -->
                                                <div class="content">

                                                    <!-- Title -->
                                                    <h4 class="title"><a href="post-details.html">Apple, time to IOS
                                                        With macos.</a></h4>

                                                    <!-- Meta -->
                                                    <div class="meta fix">
                                                        <span class="meta-item date"><i class="fa fa-clock-o"></i>10 March 2019</span>
                                                    </div>

                                                </div>

                                            </div>
                                        </div><!-- Overlay Post End -->

                                    </div>

                                    <div class="col-md-6 col-12">

                                        <!-- Overlay Post Start -->
                                        <div class="post post-overlay hero-post">
                                            <div class="post-wrap">

                                                <!-- Image -->
                                                <div class="image"><img src="img/post/post-49.jpg" alt="post"></div>

                                                <!-- Category -->
                                                <a href="#" class="category education">music</a>

                                                <!-- Content -->
                                                <div class="content">

                                                    <!-- Title -->
                                                    <h4 class="title"><a href="post-details.html">Upcoming Event 10 Dec
                                                        at Bonobisree Area.</a></h4>

                                                    <!-- Meta -->
                                                    <div class="meta fix">
                                                        <span class="meta-item date"><i class="fa fa-clock-o"></i>10 March 2019</span>
                                                    </div>

                                                </div>

                                            </div>
                                        </div><!-- Overlay Post End -->

                                    </div>

                                    <div class="col-md-6 col-12">

                                        <!-- Overlay Post Start -->
                                        <div class="post post-overlay hero-post">
                                            <div class="post-wrap">

                                                <!-- Image -->
                                                <div class="image"><img src="img/post/post-135.jpg" alt="post"></div>

                                                <!-- Category -->
                                                <a href="#" class="category fashion">fashion</a>

                                                <!-- Content -->
                                                <div class="content">

                                                    <!-- Title -->
                                                    <h4 class="title"><a href="post-details.html">Fashion is about some
                                                        thing that comes from with in you.</a></h4>

                                                    <!-- Meta -->
                                                    <div class="meta fix">
                                                        <span class="meta-item date"><i class="fa fa-clock-o"></i>10 March 2019</span>
                                                    </div>

                                                </div>

                                            </div>
                                        </div><!-- Overlay Post End -->

                                    </div>

                                </div>

                            </div><!-- Post Block Body End -->

                        </div><!-- Post Block Wrapper End -->

                        <!-- Post Block Wrapper Start -->
                        <form method="post" th:object="${newsComment}"
                              id="comment_form">
                            <div class="card gedf-card">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a th:object="${singleNews}" class="nav-link active" id="posts-tab"
                                               data-toggle="tab" href="#posts"
                                               role="tab" aria-controls="posts" aria-selected="true">Make
                                                a publication</a>
                                            <input name="newsId" type="hidden" th:value="${singleNews.getNewsId()}"
                                                   id="newsid">
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="images-tab" data-toggle="tab" role="tab"
                                               aria-controls="images" aria-selected="false" href="#images">Images</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="posts" role="tabpanel"
                                             aria-labelledby="posts-tab">
                                            <div class="form-group">
                                                <label class="sr-only" for="c_message">post</label>
                                                <textarea class="form-control" id="c_message" rows="3" th:required="can"
                                                          th:field="*{comment}"></textarea>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="images" role="tabpanel"
                                             aria-labelledby="images-tab">
                                            <div class="form-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label" for="customFile">Upload
                                                        image</label>
                                                </div>
                                            </div>
                                            <div class="py-4"></div>
                                        </div>
                                    </div>
                                    <div class="btn-toolbar justify-content-between">
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-primary">share</button>
                                        </div>
                                        <div class="btn-group">
                                            <button id="btnGroupDrop1" type="button"
                                                    class="btn btn-link dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                <i class="fa fa-globe"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="btnGroupDrop1">
                                                <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Public</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-users"></i>
                                                    Friends</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Just me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--      ------------- new comments are  -----------               -->
                        <div class="new_comment"></div>
                        <!--     -------------- comments are -----------------             -->
                        <div class="axz">

                        </div>

                        <!-- Sidebar Start -->
                        <div class="col-lg-4 col-12 mb-50">
                            <div class="row">

                                <!-- Single Sidebar -->
                                <div class="single-sidebar col-lg-12 col-md-6 col-12">

                                    <!-- Sidebar Block Wrapper -->
                                    <div class="sidebar-block-wrapper">

                                        <!-- Sidebar Block Head Start -->
                                        <div class="head feature-head">

                                            <!-- Title -->
                                            <h4 class="title">Follow Us</h4>

                                        </div><!-- Sidebar Block Head End -->

                                        <!-- Sidebar Block Body Start -->
                                        <div class="body">

                                            <div class="sidebar-social-follow">
                                                <div>
                                                    <a href="#" class="facebook">
                                                        <i class="fa fa-facebook"></i>
                                                        <h3>40,583</h3>
                                                        <span>Fans</span>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="#" class="google-plus">
                                                        <i class="fa fa-google-plus"></i>
                                                        <h3>36,857</h3>
                                                        <span>Followers</span>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="#" class="twitter">
                                                        <i class="fa fa-twitter"></i>
                                                        <h3>50,883</h3>
                                                        <span>Followers</span>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="#" class="dribbble">
                                                        <i class="fa fa-dribbble"></i>
                                                        <h3>4,743</h3>
                                                        <span>Followers</span>
                                                    </a>
                                                </div>
                                            </div>

                                        </div><!-- Sidebar Block Body End -->

                                    </div>

                                </div>

                                <!-- Single Sidebar -->
                                <div class="single-sidebar col-lg-12 col-md-6 col-12">

                                    <!-- Sidebar Banner -->
                                    <a href="#" class="sidebar-banner"><img src="img/banner/sidebar-banner-1.jpg"
                                                                            alt="Sidebar Banner"></a>

                                </div>

                                <!-- Single Sidebar -->
                                <div class="single-sidebar col-lg-12 col-md-6 col-12">

                                    <!-- Sidebar Banner -->
                                    <a href="#" class="sidebar-banner"><img src="img/banner/sidebar-banner-2.jpg"
                                                                            alt="Sidebar Banner"></a>

                                </div>

                                <!-- Single Sidebar -->
                                <div class="single-sidebar col-lg-12 col-md-6 col-12">

                                    <div class="sidebar-subscribe">
                                        <h4>Subscribe To <br>Our <span>Update</span> News</h4>
                                        <p>Adipiscing elit. Fusce sed mauris arcu. Praesent ut augue imperdiet, semper
                                            lorem
                                            id.</p>
                                        <!-- Newsletter Form -->
                                        <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
                                              method="post" id="mc-embedded-subscribe-form"
                                              name="mc-embedded-subscribe-form" class="subscribe-form validate"
                                              target="_blank" novalidate>
                                            <div id="mc_embed_signup_scroll">
                                                <label for="mce-EMAIL" class="d-none">Subscribe to our mailing
                                                    list</label>
                                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                                                       placeholder="Your email address" required>
                                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                    <input
                                                            type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef"
                                                            tabindex="-1" value=""></div>
                                                <button type="submit" name="subscribe" id="mc-embedded-subscribe"
                                                        class="button">submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div><!-- Sidebar End -->

                    </div><!-- Feature Post Row End -->

                </div>
            </div><!-- Post Section End -->

            <!-- Instagram Section Start -->
            <div class="instagram-section section">
                <div class="container-fluid">
                    <div class="row">

                        <!-- Full Width Instagram Carousel Start -->
                        <div class="fullwidth-instagram-carousel instagram-carousel col pl-0 pr-0">

                            <a href="#" class="instagram-item"><img src="img/instagram/1.jpg" alt="instagram"></a>
                            <a href="#" class="instagram-item"><img src="img/instagram/2.jpg" alt="instagram"></a>
                            <a href="#" class="instagram-item"><img src="img/instagram/3.jpg" alt="instagram"></a>
                            <a href="#" class="instagram-item"><img src="img/instagram/4.jpg" alt="instagram"></a>
                            <a href="#" class="instagram-item"><img src="img/instagram/5.jpg" alt="instagram"></a>
                            <a href="#" class="instagram-item"><img src="img/instagram/6.jpg" alt="instagram"></a>

                        </div><!-- Full Width Instagram Carousel End -->

                    </div>
                </div>
            </div><!-- Instagram Section End -->

            <!-- Footer Top Section Start -->
            <div class="footer-top-section section bg-dark">
                <div class="container-fluid">
                    <div class="row">

                        <!-- Footer Widget Start -->
                        <div class="footer-widget col-xl-3 col-md-6 col-12 mb-60">

                            <!-- Title -->
                            <h4 class="widget-title">About Us</h4>

                            <div class="content fix">
                                <p>Lorem ipsum dolor sit amet, consectet adipiscing Se velit ex, dictum at nunc placerat
                                    consequatS quam. ornaremi condiment PhasellusI cursii placerat quam et, mattis nibh
                                    Suspendislacinias.</p>

                                <!-- Footer Contact -->
                                <ol class="footer-contact">
                                    <li><i class="fa fa-home"></i>House No 08, Din Bari, Dhaka, Bangladesh</li>
                                    <li><i class="fa fa-envelope-open"></i>Username@gmail.com</li>
                                    <li><i class="fa fa-headphones"></i>(+660 256 24857) , (+660 256 24857)</li>
                                </ol>

                                <!-- Footer Social -->
                                <div class="footer-social">
                                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a>
                                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                </div>

                            </div>

                        </div><!-- Footer Widget End -->

                        <!-- Footer Widget Start -->
                        <div class="footer-widget col-xl-3 col-md-6 col-12 mb-60">

                            <!-- Title -->
                            <h4 class="widget-title">popular News</h4>

                            <!-- Footer Widget Post Start -->
                            <div class="footer-widget-post">
                                <div class="post-wrap">

                                    <!-- Image -->
                                    <a href="post-details.html" class="image"><img src="img/post/post-33.jpg"
                                                                                   alt="Post"></a>

                                    <!-- Content -->
                                    <div class="content">

                                        <!-- Title -->
                                        <h5 class="title"><a href="post-details.html">Hynpodia helps male travelers find
                                            healths.</a></h5>

                                        <!-- Meta -->
                                        <div class="meta fix">
                                            <span class="meta-item date"><i
                                                    class="fa fa-clock-o"></i>10 March 2019</span>
                                        </div>

                                    </div>

                                </div>
                            </div><!-- Footer Widget Post ENd -->

                            <!-- Footer Widget Post Start -->
                            <div class="footer-widget-post">
                                <div class="post-wrap">

                                    <!-- Image -->
                                    <a href="post-details.html" class="image"><img src="img/post/post-34.jpg"
                                                                                   alt="Post"></a>

                                    <!-- Content -->
                                    <div class="content">

                                        <!-- Title -->
                                        <h5 class="title"><a href="post-details.html">How do you solve the IOS page
                                            problem.</a></h5>

                                        <!-- Meta -->
                                        <div class="meta fix">
                                            <span class="meta-item date"><i
                                                    class="fa fa-clock-o"></i>10 March 2019</span>
                                        </div>

                                    </div>

                                </div>
                            </div><!-- Footer Widget Post End -->

                            <!-- Footer Widget Post Start -->
                            <div class="footer-widget-post">
                                <div class="post-wrap">

                                    <!-- Image -->
                                    <a href="post-details.html" class="image"><img src="img/post/post-35.jpg"
                                                                                   alt="Post"></a>

                                    <!-- Content -->
                                    <div class="content">

                                        <!-- Title -->
                                        <h5 class="title"><a href="post-details.html">Home is not a place . . . . . . .
                                            it’s
                                            a feeling.</a></h5>

                                        <!-- Meta -->
                                        <div class="meta fix">
                                            <span class="meta-item date"><i
                                                    class="fa fa-clock-o"></i>10 March 2019</span>
                                        </div>

                                    </div>

                                </div>
                            </div><!-- Footer Widget Post End -->

                        </div><!-- Footer Widget End -->

                        <!-- Footer Widget Start -->
                        <div class="footer-widget col-xl-3 col-md-6 col-12 mb-60">

                            <h4 class="widget-title">Twitter Feed</h4>

                            <!-- Single Tweet Start -->
                            <div class="single-tweet">

                                <!-- Image -->
                                <a href="#" class="image"><img src="img/tweets/1.png" alt="Author Image"></a>
                                <!-- Content -->
                                <div class="content fix">
                                    <!-- Head -->
                                    <div class="head"><h5><a href="#">Hashtech</a></h5><span>5 Minute Ago</span></div>
                                    <!-- Tags -->
                                    <div class="tags">
                                        <a href="#">#UI</a>
                                        <a href="#">#UX</a>
                                        <a href="#">#Lorem</a>
                                    </div>
                                    <!-- Links -->
                                    <div class="links"><a href="#">@https://themeforest.net/item/moto-multipurpose-landing-page-template/20342375?s_rank=1</a>
                                    </div>
                                    <!-- Meta -->
                                    <ul class="meta">
                                        <li><a href="#"><i class="fa fa-heart"></i> 865</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i> 653</a></li>
                                        <li><a href="#"><i class="fa fa-reply"></i></a></li>
                                    </ul>
                                </div>

                            </div><!-- Single Tweet End -->

                            <!-- Single Tweet Start -->
                            <div class="single-tweet">

                                <!-- Image -->
                                <a href="#" class="image"><img src="img/tweets/1.png" alt="Author Image"></a>
                                <!-- Content -->
                                <div class="content fix">
                                    <!-- Head -->
                                    <div class="head"><h5><a href="#">Hashtech</a></h5><span>5 Minute Ago</span></div>
                                    <!-- Tags -->
                                    <div class="tags">
                                        <a href="#">#UI</a>
                                        <a href="#">#UX</a>
                                        <a href="#">#Lorem</a>
                                    </div>
                                    <!-- Links -->
                                    <div class="links"><a href="#">@https://themeforest.net/item/moto-multipurpose-landing-page-template/20342375?s_rank=1</a>
                                    </div>
                                    <!-- Meta -->
                                    <ul class="meta">
                                        <li><a href="#"><i class="fa fa-heart"></i> 865</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i> 653</a></li>
                                        <li><a href="#"><i class="fa fa-reply"></i></a></li>
                                    </ul>
                                </div>

                            </div><!-- Single Tweet End -->

                        </div><!-- Footer Widget End -->

                        <!-- Footer Widget Start -->
                        <div class="footer-widget col-xl-3 col-md-6 col-12 mb-60">

                            <!-- Title -->
                            <h4 class="widget-title">Top News</h4>

                            <!-- Footer Widget Post Start -->
                            <div class="footer-widget-post">
                                <div class="post-wrap">

                                    <!-- Image -->
                                    <a href="post-details.html" class="image"><img src="img/post/post-14.jpg"
                                                                                   alt="Post"></a>

                                    <!-- Content -->
                                    <div class="content">

                                        <!-- Title -->
                                        <h5 class="title"><a href="post-details.html">Australia announced squad for
                                            Bangladesh tour.</a></h5>

                                        <!-- Meta -->
                                        <div class="meta fix">
                                            <span class="meta-item date"><i
                                                    class="fa fa-clock-o"></i>10 March 2019</span>
                                        </div>

                                    </div>

                                </div>
                            </div><!-- Footer Widget Post ENd -->

                            <!-- Footer Widget Post Start -->
                            <div class="footer-widget-post">
                                <div class="post-wrap">

                                    <!-- Image -->
                                    <a href="post-details.html" class="image"><img src="img/post/post-23.jpg"
                                                                                   alt="Post"></a>

                                    <!-- Content -->
                                    <div class="content">

                                        <!-- Title -->
                                        <h5 class="title"><a href="post-details.html">Fish Fry With green
                                            vegetables.</a>
                                        </h5>

                                        <!-- Meta -->
                                        <div class="meta fix">
                                            <span class="meta-item date"><i
                                                    class="fa fa-clock-o"></i>10 March 2019</span>
                                        </div>

                                    </div>

                                </div>
                            </div><!-- Footer Widget Post End -->

                            <!-- Footer Widget Post Start -->
                            <div class="footer-widget-post">
                                <div class="post-wrap">

                                    <!-- Image -->
                                    <a href="post-details.html" class="image"><img src="img/post/post-40.jpg"
                                                                                   alt="Post"></a>

                                    <!-- Content -->
                                    <div class="content">

                                        <!-- Title -->
                                        <h5 class="title"><a href="post-details.html">Hynpodia helps male travelers find
                                            healths.</a></h5>

                                        <!-- Meta -->
                                        <div class="meta fix">
                                            <span class="meta-item date"><i
                                                    class="fa fa-clock-o"></i>10 March 2019</span>
                                        </div>

                                    </div>

                                </div>
                            </div><!-- Footer Widget Post Endfggf -->

                        </div><!-- Footer Widget End -->

                    </div>
                </div>
            </div><!-- Footer Top Section End -->

            <!-- Footer Bottom Section Start -->
            <div class="footer-bottom-section section bg-dark">
                <div class="container">
                    <div class="row">

                        <!-- Copyright Start -->
                        <div class="copyright text-center col">
                            <p>Copyright © 2018 All Rights Reserved.</p>
                        </div><!-- Copyright End -->

                    </div>
                </div>
            </div><!-- Footer Bottom Section End -->
            <div id="display_comment">
                <h1 id="commentD"></h1>
            </div>

        </div>


        <!-- JS
        ============================================ -->

        <script>


        </script>
    </div>
</div>
</body>

</html>