<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login V5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet"
          href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/login_style.css">

</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('/images/bg-01.jpg');">


        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">

            <form th:action="@{/user/login}" method="POST"
                  class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Sign In With
					</span>

                <a href="#" class="btn-face m-b-20">
                    <i class="fa fa-facebook-official"></i>
                    Facebook
                </a>

                <a href="#" class="btn-google m-b-20">
                    <img src="../static/images/icons/icon-google.png" alt="GOOGLE">
                    Google
                </a>
                <div>
                    <p th:if="${param.error}" class="error" style="color: red">
                        Bad Credentials
                    </p>
                </div>

                <div class="p-t-31 p-b-9">
						<span class="txt1">
							Username
						</span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    <input class="input100" type="text" name="username">
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-13 p-b-9">
						<span class="txt1">
							Password
						</span>

                    <a href="#" class="txt2 bo1 m-l-5">
                        Forgot?
                    </a>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">

                    <input class="login100-form-btn " type="submit" value=" Sign In">

                </div>

                <div class="w-full text-center p-t-55">
						<span class="txt2">
							Not a member?
						</span>

                    <a href="#" class="txt2 bo1">
                        Sign up now
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>


<script src="js/main.js"></script>

<script>

    $(document).ready(function () {

        load_comment();
        $('#comment_form').on('submit', function (event) {
            event.preventDefault();
            const form_data = $(this).serialize();
            $.ajax({
                url: "/postComment",
                method: "POST",
                data: form_data,
                success: function (data) {
                    if (data.error != '') {
                        $('#comment_form')[0].reset();
                        const container = document.querySelector(".new_comment");

                    }
                }
            });
        });
    });
</script>

</body>
</html>